.superInput {
    margin: 20px;
    background: white;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}

.input:focus {
    outline: none;
    border: #bbffbb solid 2px;
}